* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
}
:root {
  --black: #000;
  --grey: #828282;
  --orange: rgb(255, 102, 0);
  --bckgrnd-clr: rgb(246, 246, 240);
}
#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 8px 40px;
}

.header {
  display: flex;
  align-items: baseline;
  background-color: var(--orange);
  justify-content: space-between;
  flex-wrap: wrap;
  .header-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    padding: 2px;
    a {
      text-decoration: none;
      color: black;
    }
    .n {
      width: 20px;
      height: 20px;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: white;
      }
    }
    .hn {
      font-weight: bold;
      margin-right: 4px;
    }
  }
}
.search-bar {
  display: flex;
  margin-bottom: 2px;
  form {
    display: flex;
    gap: 4px;
    input,
    select,
    button {
      height: 20px;
      border: none;
    }
    input {
      outline: none;
      padding-left: 2px;
      margin-left: 2px;
      &::placeholder {
        color: var(--grey);
        font-size: 9pt;
      }
    }
    button {
      margin-right: 3px;
      padding: 2px;
    }
    select {
      padding: 2px;
    }
    option {
      padding: 10px;
    }
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.content {
  background-color: var(--bckgrnd-clr);
  .loading {
    padding: 20px;
    animation: blink 200ms linear infinite;
  }
  .story {
    /* margin-bottom: 8px; */
    padding: 8px;
    .first-row {
      display: flex;
      align-items: baseline;
      gap: 4px;
      img {
        width: 10px;
        height: 10px;
      }
      .fr-index {
        color: var(--grey);
        text-align: right;
      }
      .fr-title {
        color: var(--black);
        font-size: 10pt;
        text-decoration: none;
      }
      .fr-url {
        color: var(--grey);
        a {
          color: var(--grey);
          font-size: 9pt;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .second-row {
      display: flex;
      align-items: baseline;
      gap: 4px;
      color: var(--grey);
      font-size: 8pt;
      margin-left: 38px;
      .sr-author {
        color: var(--grey);
        font-size: 8pt;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

footer {
  background-color: var(--bckgrnd-clr);
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 20px 0px;
    button {
      border-radius: 0px;
      padding: 2px 4px;
      outline: none;
      border: none;
      &:hover {
        background-color: var(--grey);
      }
    }
  }
  .orange-bar {
    height: 2px;
    background-color: var(--orange);
  }
  .links-container {
    display: block;
    margin: 0 auto;
  }
  .links {
    display: flex;
    gap: 4px;
    font-size: 8pt;
    padding: 20px 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact {
    padding: 1rem;
    font-size: 9pt;
    display: flex;
    align-items: baseline;
    gap: 1rem;
    justify-content: center;
    a {
      color: #000000;
      text-decoration: none;
      &:hover {
        opacity: 0.5;
      }
    }
    img {
      width: 1.5rem;
      height: 1.5rem; 
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
